body {
  font-family: sans-serif;
  background-color: peachpuff;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.prod-card {
  width: 25%;
  height: 80%;
  padding: 3%;
  margin-top: 7%;
}

.fa,
.fas {
  margin: 3%;
}
